pyrogram==2.0.106
tgcrypto==1.2.5
aiohttp==3.13.3
python-dotenv==0.20.0
motor==3.7.1
aiofiles==25.1.0
dnspython==2.8.0
apscheduler==3.11.2
requests==2.32.5
psutil==7.2.2
pyromod==3.1.6
Brotli==1.2.0
pymongo==4.16.0
